.container {
    background-color: #222;
    color: black;
}

.row1 {
    background-color: white;
    color: black;
    height: 70px;
}
.row2 {
    background-color: white;
    color: black;
    height: 500px;
}

.item {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 0.5rem;
    cursor: move;
    width: 30px;
    height: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
}
.item.horizontal {
    /* position: relative; */
    margin-right: 1rem;
    display: inline-block;
}

.item.dragging {
    opacity: .5;
}

.empty {
    background-color: white;
    width: 10%;
    max-width: 80px;
    height: 70%;
    padding: 5px;
    margin-left: 6px;
    display: inline-block;
}
.dropdown {
    background-color: white;
    width: 10%;
    max-width: 80px;
    height: 70%;
    padding: 5px;
    border-style: solid;
    margin-left: 2px;
    display: inline-block;
}
.container {
    background-color: #333;
/*     padding: 5px; */
    margin-top: 1px;
    align-items: center;
    border-radius: 5px;
}

.container.hcontainer {
    background-color: beige;
    width: 70%;
    max-width: 500px;
    height: 70%;
    padding: 5px;
    align-items: center;
    margin-top: 1px;
    margin-left:2px;
    border-style: solid;
    display: inline-block;
    overflow-x:auto;
}

.container.scontainer {
    background-color: grey;
    width: 10%;
    max-width: 80px;
    height: 95%;
    padding: 5px;
    align-items: center;
    margin-top: 1px;
    border-style: solid;
    display: inline-block;
    scrollbar-width: none;
    overflow-y: auto;
}

.container.vcontainer{
    background-color: beige;
    width: 10%;
    max-width: 80px;
    height: 95%;
    padding: 5px;
    align-items: center;
    margin-top: 1px;
    margin-left:2px;
    border-style: solid;
    display: inline-block;
    overflow-y:auto;
    scrollbar-width: none;
}

.gcontainer {
    background-color: white;
    width: 70%;
    max-width: 500px;
    height:95%;
    padding: 5px;
    margin-top: 1px;
    margin-left:2px;
    border-style: solid;
    display: inline-block;
    border-radius: 5px;
}
